.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE و Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: none; /* يمنع السحب الزائد في الموبايل */
}
